.home-container {
  position: relative; /* Make the container relative for absolute positioning of children */
}

.home-container:before {
  content: ""; /* Create a pseudo-element to apply the background image */
  position: absolute; /* Position the pseudo-element absolutely within the container */
  width: 100%; /* Set width to 100% */
  background-image: url('../assets/library.png'); /* Replace with your background image URL */
  background-size: cover;
  background-position: center;
  opacity: 0.7; /* Set opacity to 0.65 (65% transparency) */
  top: 0px;
  left: 0px;
  min-height: 89.8vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

 .main-content{
    color: black;
    font-size: 28px;
    text-align: center;
    width: 500px;
    height: 400px;
    margin: auto;
  }
  
  
  header {
    text-align: center;
    margin-bottom: 20px;
  }
  
.box{
  position: relative;
  padding: 40px;
  background: rgba(255,255,255, .5);
  top: 10%;
  font-family:  serif;
}

  footer {
    text-align: center;
    color: #666;
    font-size: 0.8em;
  }
  