.home-container {
    background-image: url('https://source.unsplash.com/random?library');
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    min-height: 89.8vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-attachment: fixed;
    opacity: 1;
  }
  
  
  header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .main-content {
    margin-bottom: 40px;
    max-width: 800px;
    text-align: center;
    border-radius: 1em 0 1em 0;
    background-image: linear-gradient(
    -100deg,
    rgba(255, 20, 0, 0.2),
    rgba(88, 189, 90, 0.7) 95%,
    rgba(94, 194, 106, 0.1)
  );
  }
  
  footer {
    text-align: center;
    color: #666;
    font-size: 0.8em;
  }
  