.dialog-background {
    color: black;
    width: 500px;
    height: 400px;
    font-family:  serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: static;
  }